@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  body {
    @apply bg-neutral-100;
    @apply dark:bg-neutral-900;
    @apply font-['Inter'];
    overflow: hidden;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


.simulated-active {
  background-color: oklch(87% 0 0) !important;
}