@import 'tailwindcss';

@layer base {
  body {
    @apply bg-neutral-100;
    /* @apply dark:bg-neutral-700 */
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}


.simulated-active {
  background-color: oklch(87% 0 0) !important;
}